<%- include('includes/head.ejs') %>

<!DOCTYPE html>
<html>
    <head><meta charset="utf-8"></head>
    <style>
        h2, p{
            padding-left: 30px;
            padding-right: 30px;
        }
    </style>
    <body>
        <title>AlphaTauri</title>
        <br>
        <h2>AlphaTauri</h2>
        <br>
        <p>
            AlphaTauri es una escudería de Fórmula 1 que tiene sus raíces en la antigua escudería Toro Rosso. Fue fundada en 2020 y es propiedad de la empresa austriaca de moda deportiva Red Bull. La escudería ha sido conocida por brindar oportunidades a jóvenes talentos y ha sido una incubadora para pilotos de éxito como Sebastian Vettel, Daniel Ricciardo, Max Verstappen y Carlos Sainz Jr. En la temporada 2020, el equipo registró una victoria histórica en el Gran Premio de Italia gracias al impresionante desempeño de Pierre Gasly.
        </p>
        <br>
        <img src="" alt="">
        <br>
        <p>
            En la actualidad, la alineación de pilotos de AlphaTauri está compuesta por Gasly y el novato japonés Yuki Tsunoda. Gasly ha demostrado ser un piloto talentoso y experimentado, con una victoria en su carrera y numerosos podios. Tsunoda, por su parte, es un joven piloto prometedor que ha impresionado en su debut en la Fórmula 1. Juntos, están trabajando para mantener la tradición de AlphaTauri de apoyar a los jóvenes talentos y competir en la parte media de la parrilla.
        </p>
        <br>
        <img src="" alt="">
        <br>
        <p>
            La alineación de pilotos de AlphaTauri está liderada por el piloto francés Pierre Gasly, quien se unió al equipo en 2017 como piloto reserva y de pruebas antes de ascender a un asiento titular en 2019. Gasly ha demostrado ser un piloto talentoso y experimentado, con una victoria en su carrera y numerosos podios. Es conocido por su ritmo en la clasificación y su habilidad para sacar lo mejor del coche en carreras difíciles.
        </p>
        <br>
        <p>
            El segundo piloto de AlphaTauri es el novato japonés Yuki Tsunoda, quien hizo su debut en la Fórmula 1 en la temporada 2021. Tsunoda impresionó en su temporada de novato en la Fórmula 2 en 2020, y su rápido ascenso a la Fórmula 1 ha sido muy aclamado. Es considerado como uno de los pilotos más prometedores de la nueva generación y se espera que tenga una carrera exitosa en la Fórmula 1. Tsunoda es conocido por su ritmo agresivo y su capacidad para luchar en la pista, lo que lo convierte en un piloto emocionante de seguir.
        </p>
        <br>
        <img src="" alt="">
    </body>
</html>