<%- include('includes/head.ejs') %>

<!DOCTYPE html>
<html>
    <head><meta charset="utf-8"></head>
    <style>
        h2, p{
            padding-left: 30px;
            padding-right: 30px;
        }
    </style>
    <body>
        <title>Aston Martin</title>
        <br>
        <h2>Aston Martin</h2>
        <br>
        <p>
            Aston Martin es una escudería de Fórmula 1 con sede en Silverstone, Reino Unido, que actualmente compite en el Campeonato Mundial de Fórmula 1 de la FIA. La escudería fue fundada en 2018 como Racing Point F1 Team por el consorcio de inversionistas liderado por Lawrence Stroll, quien es el actual propietario de la escudería. La escudería se basó en la estructura del anterior equipo Force India, que había sido adquirido por el consorcio de Stroll después de declararse en bancarrota.
        </p>
        <br>
        <img src="" alt="">
        <br>
        <p>
            En la temporada 2021, la escudería cambió su nombre a Aston Martin F1 Team después de que Lawrence Stroll adquiriera la icónica marca británica de automóviles deportivos Aston Martin. La escudería cuenta con el cuádruple campeón del mundo de Fórmula 1, Sebastian Vettel, y el joven canadiense Lance Stroll como pilotos. Aston Martin ha tenido una temporada difícil en 2021, con resultados inconsistentes y una lucha por estar en el medio de la tabla de posiciones del Campeonato de Constructores.
        </p>
        <br>
        <img src="" alt="">
        <br>
        <p>
            Fernando Alonso es un piloto de carreras español que actualmente compite en la Fórmula 1 para el equipo Alpine F1 Team, anteriormente conocido como Renault. Alonso es uno de los pilotos más exitosos en la historia de la Fórmula 1, habiendo ganado dos Campeonatos de Pilotos en 2005 y 2006, ambos con Renault.
        </p>
        <br>
        <img src="" alt="">
    </body>
</html>