<%- include('includes/head.ejs') %>

<!DOCTYPE html>
<html>
    <head><meta charset="utf-8"></head>
    <style>
        h2, p{
            padding-left: 30px;
            padding-right: 30px;
        }
    </style>
    <body>
        <title>McLaren</title>
        <br>
        <h2>McLaren</h2>
        <br>
        <p>
            El equipo McLaren es uno de los equipos más icónicos en la historia de la Fórmula 1. Fundado en 1963 por Bruce McLaren, el equipo ha ganado 8 Campeonatos de Constructores y 12 Campeonatos de Pilotos a lo largo de su historia. Con pilotos legendarios como Ayrton Senna, Alain Prost y Niki Lauda, McLaren ha sido un equipo exitoso y respetado en la Fórmula 1 durante décadas.
        </p>
        <br>
        <img src="" alt="">
        <br>
        <p>
            En los últimos años, McLaren ha pasado por una fase de reconstrucción y ha logrado un retorno a la forma en la temporada 2020. Con un nuevo motor y una alineación de pilotos talentosos en Lando Norris y Daniel Ricciardo, McLaren busca consolidarse como uno de los equipos más fuertes en la Fórmula 1 en el futuro cercano.
        </p>
        <br>
        <img src="" alt="">
        <br>
        <p>
            Lando Norris es un piloto de carreras británico que actualmente compite para el equipo McLaren en la Fórmula 1. Norris debutó en la categoría en 2019 con McLaren y ha demostrado ser un piloto muy talentoso y prometedor. A lo largo de su carrera en la Fórmula 1, Norris ha obtenido varios podios y ha sido considerado como uno de los pilotos más emocionantes de la nueva generación. Es conocido por su habilidad en la pista, su actitud relajada y su buen sentido del humor.
        </p>
        <br>
        <p>
            Daniel Ricciardo es un piloto de carreras australiano que se unió al equipo McLaren en 2021 después de haber corrido previamente para Red Bull Racing y Renault. Ricciardo es un piloto experimentado y exitoso en la Fórmula 1, habiendo ganado varias carreras y logrado varios podios a lo largo de su carrera. Es conocido por su estilo de manejo agresivo y su habilidad para hacer adelantamientos emocionantes. Ricciardo es también conocido por su personalidad carismática y su habilidad para mantener un buen ambiente en el equipo.
        </p>
        <br>
        <img src="" alt="">
    </body>
</html>