<%- include('includes/head.ejs') %>

<div class="bg-gray-100">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
        <h2 class="text-3xl font-bold text-gray-900 mb-10">Our Services</h2>
  
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
          <div class="bg-white rounded-lg shadow-md">
            <div class="h-64 overflow-hidden">
              <img class="w-full h-full object-cover" src="https://tailwindui.com/img/ecommerce-images/home-page-02-edition-01.jpg" alt="Desk and Office">
            </div>
            <div class="px-6 py-4">
              <h3 class="text-lg font-semibold text-gray-900 mb-2">Desk and Office</h3>
              <p class="text-gray-700 leading-relaxed mb-4">Work from home accessories</p>
              <a href="#" class="inline-block bg-gray-900 text-white px-3 py-1 rounded-full hover:bg-gray-700 transition duration-300">Learn More</a>
            </div>
          </div>
  
          <div class="bg-white rounded-lg shadow-md">
            <div class="h-64 overflow-hidden">
              <img class="w-full h-full object-cover" src="https://tailwindui.com/img/ecommerce-images/home-page-02-edition-02.jpg" alt="Self-Improvement">
            </div>
            <div class="px-6 py-4">
              <h3 class="text-lg font-semibold text-gray-900 mb-2">Self-Improvement</h3>
              <p class="text-gray-700 leading-relaxed mb-4">Journals and note-taking</p>
              <a href="#" class="inline-block bg-gray-900 text-white px-3 py-1 rounded-full hover:bg-gray-700 transition duration-300">Learn More</a>
            </div>
          </div>
  
          <div class="bg-white rounded-lg shadow-md">
            <div class="h-64 overflow-hidden">
              <img class="w-full h-full object-cover" src="https://tailwindui.com/img/ecommerce-images/home-page-02-edition-03.jpg" alt="Travel">
            </div>
            <div class="px-6 py-4">
              <h3 class="text-lg font-semibold text-gray-900 mb-2">Travel</h3>
              <p class="text-gray-700 leading-relaxed mb-4">Daily commute essentials</p>
              <a href="#" class="inline-block bg-gray-900 text-white px-3 py-1 rounded-full hover:bg-gray-700 transition duration-300">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  