<%- include('includes/head.ejs') %>

<!DOCTYPE html>
<html>
    <head><meta charset="utf-8"></head>
    <style>
        h2, p{
            padding-left: 30px;
            padding-right: 30px;
        }
    </style>
    <body>
        <title>Ferrari</title>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <br>
        <h2>Ferrari</h2>
        <br>
        <p>
            Scuderia Ferrari es una de las escuderías más exitosas en la historia de la Fórmula 1. Fundada en 1947 por Enzo Ferrari, la escudería ha ganado 16 Campeonatos de Constructores y 15 Campeonatos de Pilotos, siendo el último de ellos en 2007 con Kimi Räikkönen. Ferrari se ha convertido en una marca icónica en el mundo del automovilismo y su pasión por la competición es reconocida en todo el mundo.
        </p>
        <br>
        <img src="" alt="">
        <br>
        <p>
            A pesar de un largo período de sequía en cuanto a títulos de campeonato, Ferrari sigue siendo uno de los equipos más populares y respetados en la Fórmula 1. La escudería siempre ha tenido una gran rivalidad con otros equipos, especialmente con Mercedes y Red Bull, lo que ha llevado a algunas de las batallas más emocionantes en la historia de la Fórmula 1. Con Charles Leclerc y Carlos Sainz como sus actuales pilotos titulares, Ferrari busca volver a los primeros planos y competir por campeonatos en el futuro cercano.
        </p>
        <br>
        <img src="" alt="">
        <br>
        <p>
            Charles Leclerc es un piloto de carreras monegasco que actualmente compite para la Scuderia Ferrari en la Fórmula 1. Leclerc se unió a Ferrari en 2019 después de una impresionante temporada de debut con Sauber (ahora Alfa Romeo Racing), donde logró 2 podios y una pole position. Leclerc ha demostrado ser un piloto muy talentoso y rápido, y ha logrado victorias y podios para Ferrari, pero también ha experimentado algunos altibajos. Es conocido por su estilo agresivo y su habilidad para conducir en situaciones difíciles.
        </p>
        <p>
            Carlos Sainz es un piloto de carreras español que se unió a la Scuderia Ferrari en 2021 después de haber corrido anteriormente para McLaren y Renault en la Fórmula 1. Sainz ha demostrado ser un piloto confiable y constante, capaz de obtener buenos resultados de manera consistente. Aunque no ha logrado aún una victoria en la Fórmula 1, Sainz ha obtenido varios podios y ha mostrado su capacidad para competir con los mejores. Es conocido por su estilo inteligente y estratégico, y es altamente respetado en la parrilla de la Fórmula 1.
        </p>
        <br>
        <img src="" alt="">
    </body>
</html>