<%- include('includes/head.ejs') %>

<!DOCTYPE html>
<html>
    <head><meta charset="utf-8"></head>
    <style>
        h2, p{
            padding-left: 30px;
            padding-right: 30px;
        }
    </style>
    <body>
        <title>Alpine</title>
        <br>
        <h2>Alpine</h2>
        <br>
        <p>
            El equipo Alpine es el sucesor del equipo Renault en la Fórmula 1, habiendo sido renombrado en 2021. El equipo ha estado presente en la categoría desde 1977 y ha tenido mucho éxito en la historia de la Fórmula 1, habiendo ganado varios Campeonatos de Constructores y Pilotos con pilotos como Alain Prost y Fernando Alonso. El equipo también ha sido un líder en la tecnología de la Fórmula 1, habiendo sido el primer equipo en introducir una suspensión activa y una caja de cambios semiautomática.
        </p>
        <br>
        <img src="" alt="">
        <br>
        <p>
            El equipo Alpine está comprometido a ser competitivo en la Fórmula 1 a largo plazo y ha establecido objetivos ambiciosos para el futuro. Con una alineación de pilotos talentosos en Fernando Alonso y Esteban Ocon, el equipo espera lograr grandes resultados en el futuro cercano. Además, el equipo está comprometido con la innovación y el desarrollo de tecnología de vanguardia para la Fórmula 1, lo que asegurará que sigan siendo una fuerza importante en la categoría durante muchos años más.
        </p>
        <br>
        <img src="" alt="">
        <br>
        <p>
            Fernando Alonso es un piloto de carreras español que regresó a la Fórmula 1 en 2021 con el equipo Alpine después de un breve retiro. Alonso es uno de los pilotos más exitosos y respetados en la historia de la Fórmula 1, habiendo ganado dos Campeonatos Mundiales de Pilotos y siendo considerado como uno de los pilotos más talentosos de su generación. Alonso es conocido por su habilidad en la pista, su enfoque trabajador y su personalidad carismática.
        </p>
        <br>
        <p>
            Esteban Ocon es un piloto de carreras francés que también compite para el equipo Alpine en la Fórmula 1. Ocon debutó en la categoría en 2016 y se unió al equipo Alpine en 2020. A pesar de su juventud, Ocon ha demostrado ser un piloto muy talentoso y prometedor, habiendo obtenido varios podios a lo largo de su carrera. Es conocido por su habilidad en la pista, su enfoque disciplinado y su dedicación al trabajo en equipo.
        </p>
        <br>
        <img src="" alt="">
    </body>
</html>