<%- include('includes/head.ejs') %>

<!DOCTYPE html>
<html>
    <head><meta charset="utf-8"></head>
    <style>
        .card, h2{
            margin-top: 20px;
            margin-right: 12px;
            margin-left: 12px;
        }
    </style>
    <body>
      <u><h2>Escuderías</h2></u>
      <br>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="https://cdn-1.motorsport.com/images/amp/63vxMQEY/s1000/red-bull-racing-rb19-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Red Bull</h5>
                  <p class="card-text">Conoce más sobre la escudería Red Bull.</p>
                  <a href="/redbull" class="btn btn-primary">Descripción</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/aston-martin-amr23-14-1676316775.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Aston Martin</h5>
                  <p class="card-text">Conoce más sobre la escudería Aston Martin.</p>
                  <a href="/astonmartin" class="btn btn-primary">Descripción</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/mercedes-w14-shakedown-01-1676547626.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mercedes AMG</h5>
                  <p class="card-text">Conoce más sobre la escudería Mercedes AMG.</p>
                  <a href="/mercedes" class="btn btn-primary">Descripción</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://images.daznservices.com/di/library/DAZN_News/97/1/sf23-ferrari-f1_t9e3h1ngts6w1qgr0ye02vwou.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ferrari</h5>
                  <p class="card-text">Conoce más sobre la escudería Ferrari.</p>
                  <a href="/ferrari" class="btn btn-primary">Descripción</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://car-images.bauersecure.com/wp-images/160399/mcl60_02.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">McLaren</h5>
                  <p class="card-text">Conoce más sobre la escudería McLaren.</p>
                  <a href="/mclaren" class="btn btn-primary">Descripción</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://images.summitmedia-digital.com/topgear/images/2023/02/20/alpine-a523-formula1-car-01-1676853321.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Alpine</h5>
                  <p class="card-text">Conoce más sobre la escudería Alpine.</p>
                  <a href="/alpine" class="btn btn-primary">Descripción</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://images.reporteindigo.com/wp-content/uploads/2023/01/escuderia-haas-vf23-formula-1-f1-temporada-2023-presentacion-monoplazas.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Haas</h5>
                  <p class="card-text">Conoce más sobre la escudería Haas.</p>
                  <a href="/haas" class="btn btn-primary">Descripción</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://cdn.racingnews365.com/_1125x633_crop_center-center_85_none/C43_Front-Dynamic-Left-V4_LM_BOT_4-5_2023-02-07-090626_llty.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Alfa Romeo</h5>
                  <p class="card-text">Conoce más sobre la escudería Alfa Romeo.</p>
                  <a href="/alfaromeo" class="btn btn-primary">Descripción</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://e0.365dm.com/23/02/2048x1152/skysports-alpha-tauri-f1-2023_6054518.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">AlphaTauri</h5>
                  <p class="card-text">Conoce más sobre la escudería AlphaTauri.</p>
                  <a href="/alphatauri" class="btn btn-primary">Descripción</a>
                </div>
              </div>
            </div>
          </div>
    </body>
</html>
