<%- include('includes/head.ejs') %>

<!DOCTYPE html>
<html>
    <head><meta charset="utf-8"></head>
    <style>
        h2, p{
            padding-left: 30px;
            padding-right: 30px;
        }
    </style>
    <body>
        <title>Alfa Romeo</title>
        <br>
        <h2>Alfa Romeo</h2>
        <br>
        <p>
            Alfa Romeo Racing ORLEN es una escudería suiza de Fórmula 1 que compite desde 1950 bajo varios nombres, incluyendo Sauber. En 2018, Alfa Romeo regresó como patrocinador del equipo Sauber, y para la temporada 2019 se convirtió en su propietario mayoritario. El equipo ha tenido una historia interesante en la Fórmula 1, con varios resultados destacados, incluyendo una victoria en el Gran Premio de Canadá en 2008. Desde que Alfa Romeo se convirtió en su propietario mayoritario, el equipo ha estado trabajando duro para mejorar su rendimiento y luchar por los puntos en la parrilla.
        </p>
        <br>
        <img src="" alt="">
        <br>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque minima quis, ipsam consectetur quasi saepe molestias, sunt temporibus, vel cumque labore quae ratione exercitationem itaque ex unde et quo nemo.
        </p>
        <br>
        <img src="" alt="">
        <br>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro similique doloremque velit eaque itaque aut, maiores saepe adipisci expedita id consectetur sapiente voluptates esse. Ipsa tempora nobis excepturi cum pariatur.
        </p>
        <br>
        <img src="" alt="">
    </body>
</html>