<%- include('includes/head.ejs') %>

<!DOCTYPE html>
<html>
    <head><meta charset="utf-8"></head>
    <style>
        h2, p{
            padding-left: 30px;
            padding-right: 30px;
        }
    </style>
    <body>
        <title>Haas</title>
        <br>
        <h2>Haas</h2>
        <br>
        <p>
            Haas F1 Team es una escudería estadounidense de Fórmula 1, fundada por el empresario Gene Haas en 2016. El equipo se unió a la Fórmula 1 como el primer equipo estadounidense en tres décadas, y ha estado compitiendo desde entonces. Haas ha formado una estrecha relación técnica con Ferrari, utilizando sus motores y cajas de cambios, así como partes clave de su chasis. Desde su debut en la Fórmula 1, el equipo ha logrado algunos buenos resultados, aunque no ha estado en el frente de la parrilla con regularidad.
        </p>
        <br>
        <img src="" alt="">
        <br>
        <p>
            Actualmente, Haas tiene una alineación de pilotos jóvenes, con Mick Schumacher y Nikita Mazepin. Schumacher es el hijo del siete veces campeón mundial de Fórmula 1, Michael Schumacher, y se unió al equipo en 2021 después de haber ganado el Campeonato de Fórmula 2 en 2020. Mazepin, por otro lado, es un piloto ruso que debutó en la Fórmula 1 en 2021. A pesar de la falta de experiencia de sus pilotos, Haas tiene como objetivo hacer progresos en la Fórmula 1 en el futuro cercano.
        </p>
        <br>
        <img src="" alt="">
        <br>
        <p>
            Mick Schumacher es un piloto de carreras alemán que compite actualmente para Haas en la Fórmula 1. Schumacher es el hijo del legendario piloto de Fórmula 1 Michael Schumacher, y se unió a la escudería en 2021 después de haber ganado el Campeonato de Fórmula 2 en 2020. Aunque es relativamente nuevo en la categoría reina del automovilismo, Schumacher ha demostrado ser un piloto talentoso y trabajador, y su apellido lo convierte en uno de los corredores más populares del paddock.
        </p>
        <br>
        <p>
            Nikita Mazepin es un piloto de carreras ruso que también compite para Haas en la Fórmula 1. Mazepin debutó en la categoría en 2021 después de haber corrido en las categorías de apoyo durante varios años. Aunque ha sido objeto de controversia en el pasado, Mazepin ha mostrado su rapidez en pista y su dedicación al trabajo en equipo. Como piloto joven, Mazepin todavía tiene mucho que aprender, pero su presencia en la parrilla muestra el compromiso de Haas con el futuro de la Fórmula 1.
        </p>
        <br>
        <img src="" alt="">
    </body>
</html>