<%- include('includes/head.ejs') %>

<!DOCTYPE html>
<html>
    <head><meta charset="utf-8"></head>
    <style>
        h2, p{
            padding-left: 30px;
            padding-right: 30px;
        }
    </style>
    <body>
        <title>Mercedes</title>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <br>
        <h2>Mercedes</h2>
        <br>
        <p>
            Mercedes AMG Petronas Formula One Team es una escudería de Fórmula 1 con sede en Brackley, Reino Unido. La escudería fue fundada en 2010 después de que Mercedes adquiriera el equipo de carreras campeón del mundo Brawn GP, que a su vez había sido creado a partir del equipo Honda Racing F1. Desde entonces, Mercedes ha dominado la Fórmula 1, ganando siete Campeonatos de Constructores consecutivos de 2014 a 2020 y seis Campeonatos de Pilotos, cinco de ellos con Lewis Hamilton.
        </p>
        <br>
        <img src="" alt="">
        <br>
        <p>
            Mercedes es conocido por su tecnología de vanguardia y su enfoque en la innovación en la Fórmula 1. Además de Hamilton, la escudería cuenta con Valtteri Bottas como su otro piloto titular desde 2017. La escudería es reconocida por su dedicación al perfeccionamiento y la mejora continua, lo que les ha permitido mantenerse en la cima de la Fórmula 1 durante la última década.
        </p>
        <br>
        <img src="" alt="">
        <br>
        <p>
            George Russell es un piloto de carreras británico que actualmente compite en la Fórmula 1 para el equipo Mercedes-AMG Petronas Formula One Team. Russell se unió al equipo en 2022, convirtiéndose en el compañero de equipo de Lewis Hamilton, después de pasar dos temporadas en el equipo Williams.
        </p>
        <br>
        <img src="" alt="">
    </body>
</html>