<%- include('includes/head.ejs') %>

<!DOCTYPE html>
<html>
    <head><meta charset="utf-8"></head>
    <style>
        h2, p{
            padding-left: 30px;
            padding-right: 30px;
        }
    </style>
    <body>
        <title>Red Bull</title>
        <br>
        <h2 style="color: blue;">Red Bull</h2>
        <br>
        <p>
            Red Bull Racing es una escudería de Fórmula 1 con sede en Milton Keynes, Reino Unido. La escudería fue fundada en 2005 por el dueño de la marca de bebidas energéticas Red Bull, Dietrich Mateschitz, después de adquirir el equipo Jaguar Racing. En su primera temporada, Red Bull Racing logró solo una sola victoria en el Gran Premio de China de 2009, pero desde entonces ha ganado cuatro Campeonatos de Constructores y cuatro Campeonatos de Pilotos con el alemán Sebastian Vettel entre 2010 y 2013.
        </p>
        <br>
        <img src="" alt="">
        <br>
        <p>
            El equipo actualmente cuenta con el piloto holandés Max Verstappen, quien se unió a la escudería en 2016 y se convirtió en el ganador más joven de un Gran Premio en la historia de la Fórmula 1 en su debut con Red Bull Racing en 2016. Verstappen ha logrado varias victorias y podios para la escudería desde entonces y se ha establecido como uno de los principales contendientes al título en las últimas temporadas.
        </p>
        <br>
        <img src="" alt="">
        <br>
        <p>
            Sergio "Checo" Pérez se unió a Red Bull Racing para la temporada 2021 de la Fórmula 1, convirtiéndose en el compañero de equipo de Max Verstappen. Anteriormente, Pérez había competido en la Fórmula 1 durante más de una década, obteniendo varios podios y una victoria en el Gran Premio de Sakhir en 2020. Desde su llegada a Red Bull Racing, Pérez ha demostrado ser un piloto consistente y ha ayudado a la escudería a sumar puntos valiosos en la lucha por el Campeonato de Constructores. 
        </p>
        <br>
        <img src="" alt="">
    </body>
</html>