<%- include('includes/head.ejs') %>

<section>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, voluptates reiciendis. Possimus quis veniam accusamus sunt, ratione aspernatur ut reprehenderit.</p>
    <a class="btn btn-outline-danger" type="button" href="/usuarios/logout">Cerrar sesión</a>
</section>

<%- include('includes/foot.ejs') %>